<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/fragments :: head('Detalhes do Backlog')}"></head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Detalhes do Backlog</h1>
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title" th:text="${backlog.description}"></h5>
            <p class="card-text"><strong>Prioridade:</strong> <span th:text="${backlog.priority}"></span></p>
            <p class="card-text"><strong>Status:</strong> <span th:text="${backlog.status}"></span></p>
            <p class="card-text"><strong>Data de Término:</strong> <span th:text="${backlog.deadline}"></span></p>
            <p class="card-text"><strong>Projeto Associado:</strong> <span th:text="${backlog.project.name}"></span></p>
            <div class="row">
                <div class="col-12">
                    <a th:href="@{/backlogs/{id}/edit(id=${backlog.id})}" class="btn btn-warning">Editar</a>
                    <a href="/backlogs" class="btn btn-primary">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>