<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/fragments :: head('Lista de Backlogs')}"></head>
<body>
<div th:replace="~{fragments/fragments :: header('Listagem de Backlogs')}"></div>
<div class="container mt-5">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Descrição</th>
            <th>Status</th>
            <th>Projeto Associado</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="backlog : ${backlogs}">
            <td th:text="${backlog.id}"></td>
            <td th:text="${backlog.description}"></td>
            <td th:text="${backlog.status}"></td>
            <td th:text="${backlog.project.name}"></td>
            <td class="action-buttons">
                <a th:href="@{/backlogs/{id}(id=${backlog.id})}" class="btn btn-info btn-sm">Ver detalhes</a>
                <a th:href="@{/backlogs/edit/{id}(id=${backlog.id})}" class="btn btn-warning btn-sm">Editar</a>
                <a th:href="@{/backlogs/delete/{id}(id=${backlog.id})}" class="btn btn-danger btn-sm"
                   onclick="return confirm('Tem certeza que deseja deletar este backlog?');">Deletar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center mt-4">
        <a th:href="@{/backlogs/new-backlog}" class="btn btn-success">Adicionar Novo Backlog</a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">
</script>
</body>
</html>