<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/fragments :: head('Editar Projeto')}"></head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Editar Projeto</h1>
    <div th:replace="~{projects/fragments :: form(projectDTO, '/projects/' + ${projectDTO.id})}"></div>
    <div class="mt-4">
        <span th:if="${projectDTO.startDate != null}" th:text="'Data de Início Selecionada: ' + ${#temporals.format(projectDTO.startDate, 'dd/MM/yyyy')}" class="text-muted d-block"></span>
        <span th:if="${projectDTO.endDate != null}" th:text="'Data selecionada: ' + ${#temporals.format(projectDTO.endDate, 'dd/MM/yyyy')}" class="text-muted d-block"></span>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">
</script>
</body>
</html>